Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg).

In [1]:
import pandas as pd

movies_rt_df = pd.read_csv('C:\DS\IDE\Skillfactory\Data\movies\datta3.csv')
ratings_movies = movies_rt_df.copy()
ratings_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [2]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

Данная функция основана на регулярных выражениях и использует модуль ***re***, с которым мы пока не работали.

→ Модуль ***re*** предназначен для поиска шаблонов в тексте и встроен в язык, поэтому не нуждается в установке.

## ДОПОЛНИТЕЛЬНО

При желании вы можете ознакомиться с регулярными выражениями по ***[ссылке](https://tproger.ru/translations/regular-expression-python/)***, однако это не является обязательным для выполнения заданий в этом юните.

Из модуля ***re*** нам понадобится только функция ***findall()***, которая позволяет найти в строке все слова, удовлетворяющие шаблону. Мы находим в строке с названием фильма шаблон "(DDDD)" — четыре цифры, обёрнутых в скобки, что соответствует году выпуска фильма. Если такого шаблона не было найдено (год выпуска не указан), функция возвращает None (в таблице это будет помечено как пропуск).

### Совет: для выполнения заданий используйте изученные в этом модуле методы.

# Задание 8.1
### Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
### У скольких фильмов не указан год их выпуска?

In [3]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

# Задание 8.2
### Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
### В качестве ответа запишите название этого фильма без указания года его выпуска.

In [4]:
mask = ratings_movies['year_release'] == 1999
ratings_movies[mask].groupby('title')['rating'].mean().sort_values()

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

# Задание 8.3
### Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
### Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [5]:
mask1 = ratings_movies['year_release'] == 2010
ratings_movies[mask1].groupby('genres')['rating'].mean().sort_values()

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

# Задание 8.4
### Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [6]:
ratings_movies.groupby('userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

# Задание 8.5
### Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
### В качестве ответа укажите идентификатор этого пользователя

In [7]:
ratings_movies.groupby('userId')['rating'].agg(
    ['count', 'mean']
).sort_values(['count', 'mean'], ascending=[True, False])

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

# Задание 8.6
### Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
### Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [8]:
mask = ratings_movies['year_release'] == 2018
grouped = ratings_movies[mask].groupby('genres')['rating'].agg(
    ['mean', 'count']
)
grouped[grouped['count']>10].sort_values(
    by='mean',
    ascending=False
)

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

# Задание 8.7
### Добавьте в таблицу новый признак ***year_rating*** — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

In [9]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])
ratings_movies['year_rating'] = ratings_movies['date'].dt.year
pivot = ratings_movies.pivot_table(
    index='year_rating',
    columns='genres',
    values='rating',
    aggfunc='mean'
)
display(pivot)

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
year_rating,,,,,,,,,,,,,,,,,,,,,
1996,NaN,2.730769,3.454545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.666667,NaN,3.838095,NaN,3.117647
1997,NaN,3.538462,4.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.400000,NaN,3.923077,NaN,3.000000
1998,NaN,NaN,4.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.800000,NaN,NaN
1999,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,NaN,NaN,NaN,NaN,4.000000,NaN,3.700000,4.5,4.000000
2000,NaN,2.588235,3.738462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000,NaN,3.0,3.416667,NaN,2.142857,NaN,3.087912,3.0,4.058824
2001,NaN,3.000000,3.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,2.500000,NaN,2.500000,NaN,3.477273,3.0,3.111111
2002,NaN,2.750000,4.304348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000,NaN,NaN,3.750000,NaN,3.600000,NaN,3.583333,3.5,3.000000
2003,NaN,3.833333,3.277778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.375,2.5,NaN,2.333333,NaN,3.142857,NaN,3.250000,3.0,4.000000
2004,NaN,2.700000,4.136364,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,...,3.000,3.0,3.5,2.125000,NaN,NaN,NaN,3.464286,3.0,3.800000
2005,NaN,3.357143,3.413043,NaN,NaN,4.107143,NaN,NaN,NaN,NaN,...,2.000,NaN,NaN,3.000000,NaN,2.750000,NaN,3.411765,NaN,4.500000
2006,NaN,2.166667,4.090909,NaN,NaN,3.833333,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,0.500000,NaN,4.500000,NaN,3.735294,NaN,3.625000
2007,NaN,2.583333,3.666667,NaN,NaN,3.846154,3.000000,NaN,NaN,2.8,...,1.500,NaN,2.5,3.375000,NaN,2.833333,NaN,3.421875,NaN,3.000000
2008,NaN,3.000000,3.656250,NaN,NaN,4.125000,4.000000,NaN,NaN,3.5,...,NaN,NaN,NaN,3.125000,NaN,3.000000,NaN,3.333333,NaN,4.000000
2009,NaN,NaN,3.714286,NaN,NaN,3.900000,NaN,3.250000,NaN,2.5,...,NaN,NaN,NaN,2.000000,NaN,4.000000,NaN,2.964286,4.0,3.375000
2010,NaN,3.500000,3.437500,NaN,NaN,4.333333,NaN,3.500000,3.000000,NaN,...,NaN,NaN,NaN,4.000000,NaN,2.500000,NaN,2.833333,NaN,3.666667
2011,NaN,4.500000,3.888889,NaN,NaN,3.500000,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,3.500000,NaN,1.833333,4.000000,3.625000,NaN,4.000000
2012,NaN,2.625000,3.900000,NaN,4.000000,3.785714,NaN,3.550000,4.000000,NaN,...,2.500,NaN,NaN,4.166667,NaN,3.500000,3.666667,3.083333,NaN,4.100000
2013,NaN,2.500000,3.833333,NaN,3.000000,4.333333,NaN,5.000000,NaN,NaN,...,NaN,NaN,NaN,1.500000,NaN,3.833333,4.000000,3.666667,NaN,4.000000
2014,NaN,NaN,3.875000,3.000,3.500000,3.250000,3.833333,3.500000,4.000000,NaN,...,NaN,NaN,NaN,2.500000,5.000000,NaN,4.000000,4.000000,NaN,4.000000
2015,0.500000,3.100000,3.560976,3.800,3.666667,3.565217,3.833333,3.375000,2.333333,2.5,...,NaN,NaN,NaN,2.900000,4.071429,3.764706,4.000000,2.911765,NaN,3.900000
2016,3.500000,3.545455,3.722222,3.750,3.833333,3.925000,3.388889,3.666667,1.000000,4.0,...,2.500,NaN,NaN,3.555556,3.807692,3.916667,3.666667,3.432432,NaN,3.958333
2017,3.000000,2.637931,3.527778,3.375,3.500000,3.676471,3.700000,1.000000,1.000000,2.0,...,3.000,NaN,NaN,3.864865,4.264706,3.750000,2.500000,3.152174,NaN,2.933333
2018,3.676471,2.588235,3.397436,3.650,3.166667,3.741935,4.142857,3.700000,2.500000,4.0,...,NaN,NaN,NaN,3.128571,3.500000,3.562500,NaN,3.296296,NaN,3.611111

***A*** **За весь период (с 1996 по 2018 год) сочетание жанров Action|Adventure ни разу не получало среднюю оценку ниже 3.**

***B*** Наилучшую оценку жанр Action|Adventure|Animation|Children|Comedy|IMAX получил в 2010 году.

***C*** **Среди сочетаний жанров, получивших наивысшую среднюю оценку в 2018 году, есть сочетание Animation|Children|Mystery.**

***D*** Для жанра Comedy прослеживается тенденция падения рейтинга с каждым годом (с 1996 по 2018).

In [10]:
product = pd.read_csv('C:\DS\IDE\Skillfactory\Data\movies\products.csv', sep = ';')
order = pd.read_csv('C:\DS\IDE\Skillfactory\Data\movies\orders.csv', sep = ',')

In [16]:
order.rename(columns=lambda name: name.replace('ID товара', 'Tovar'), inplace=True)
order

                                                 Дата создания;Order ID;ID Покупателя;Статус;Оплачен;Отменен;Отгружен;Tovar;Количество
09.11.2019 21:55:51;9;10;Принят                                  ожидается оплата;Нет;Нет;Нет;103;5
09.11.2019 15:05:57;8;9;Принят                                  ожидается оплата;Нет;Нет;Нет;86;100
09.11.2019 15:05:57;8;9;Принят                                  ожидается оплата;Нет;Нет;Нет;104;10
09.11.2019 12:50:07;7;8;Принят                                   ожидается оплата;Нет;Нет;Нет;104;7
09.11.2019 12:00:00;6;1;Принят                                   ожидается оплата;Нет;Нет;Нет;104;5
09.11.2019 12:00:00;6;1;Принят                                   ожидается оплата;Нет;Нет;Нет;103;5
08.11.2019 08:36:22;5;5;Отменён;Нет;Да;Нет;124;1                                                NaN
08.11.2019 08:36:22;4;9;Принят                                     ожидается оплата;Нет;Нет;Да;91;1
08.11.2019 08:36:22;3;8;Оплачен                             формируется к отправке;Да;Нет;Нет;103;3
08.11.2019 08:36:22;3;8;Оплачен                             формируется к отправке;Да;Нет;Нет;104;3
08.11.2019 08:36:21;2;7;Выполнен;Да;Нет;Да;74;1                                                 NaN
08.11.2019 08:36:21;2;7;Выполнен;Да;Нет;Да;53;1                                                 NaN
08.11.2019 08:36:21;2;7;Выполнен;Да;Нет;Да;137;1                                                NaN
08.11.2019 08:36:21;2;7;Выполнен;Да;Нет;Да;47;1                                                 NaN
08.11.2019 08:36:20;1;5;Оплачен                              формируется к отправке;Да;Нет;Нет;71;1
08.11.2019 08:36:20;1;5;Оплачен                              формируется к отправке;Да;Нет;Нет;86;1
08.11.2019 08:36:20;1;5;Оплачен                              формируется к отправке;Да;Нет;Нет;51;1
01.01.2001 00:00:00;0;1;Оплачен                             формируется к отправке;Да;Нет;Нет;666;1

In [15]:
sss = order.merge(
    product, 
    left_on = 'Tovar',
    right_on = 'Product_ID',
    how = 'left')

KeyError: 'Tovar'